body {
    background-color: gainsboro
}
#map {
    height: 500px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    border-radius: 5px;
}
.coordinates {
    width: 80%;
    height: auto;
    margin: 30px auto;
}
.coordinates p {
    display: inline-block;
}
.coordinates div {
    display: inline-block;
}
.block-name {
    width: 32%;
    margin-left: 0;
    background: linear-gradient(to top,#059,#fff);
    letter-spacing: 1.5px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
.coords-input { 
    background-color: white;
    color: black;
    border: 1px solid #059;
    height: 20px;
    width: 59%;
    position: relative;
}
#button-coords {
    width: 33%;
    padding: 13px;
    border-radius: 5px;
    font-size: 20px;
    background: linear-gradient(to top,#059,#fff);
    letter-spacing: 1.5px;
    color: white;
    font-weight: bold;
}
